html {height:100%;}

body {font-size: 14pt; background-color:#f4f4f4;}

/*.arrow {
  width: 80px;
  margin: 0 auto;
  margin-top: 72px;
}

.line {
  margin: 0 auto;
  width: 25px;
  background-color: blue;
  height: 90px;
}

.point {
  margin: 0 auto;
  width: 0;
  height: 0;
  border-bottom: 40px solid blue;
  border-left: 30px solid transparent;
  border-right: 30px solid transparent;
}*/

.clear:before, 
.clear:after {
  content: " "; 
  display: table;
}

.clear:after {
  clear: both;
}

/*Container for full page*/
#bigbox {
  width: 60%;
  min-width: 50em;
  margin: 0 auto;
  margin-top: 5em;
  padding: 0 0 1.5em 0;
}

#container {
  background-color:#aaa; 
  width:50em; 
  margin:0 auto; 
  padding: 0; 
  position: relative;
}

/*Container for messages displayed at the bottom of the .mines container*/
#bottombox {
  text-align: center;
  margin: 1em auto;
  font-size: 2em;
  /* font-size: 1.5em; */
}


/*Allows each to be faded in in order.*/
#bottom, #bottom1, #bottom2, #bottom3, #bottom4, #bottom5, #bottom6, #bottom7, #bottom8 {
  color: #000;
  display: none;
}

/*Text displayed when user hits a mine*/
#bottom7 {color: #fa001b;}


.spacer {
  width: 100%;
  height: .5em;
  content: ' ';
  background-color: #f4f4f4;
  margin: 0 auto;
}

/*The box which contains the .landmine divs*/
.mines {
  background-color: #aaa;
  -webkit-transition: background-color .5s;
}

/*#title {
  margin:0 auto; 
  text-align:center; 
  width:100%; 
  font-size:18px; 
}*/

/*Boxes which represent each of the three landmines. Background color to change depending on user input.*/
.landmine {
  float: left;  
  width:14.66em; 
  text-align: center;
  vertical-align: middle;
  display: inline-block; 
  margin: 1.5em .75em 1.5em .75em; 
  height: 14.66em;
  background-color: #ddd;
  position: relative;
  line-height: 14.66em;
  -webkit-transition: background-color .5s;
  -webkit-animation: pulse 1s 6s;
}

/*Sets correct spacing for left/right .landmine boxes.*/
.left {
  margin-left: 1.5em;
}
.right {
  float: right;
  margin-right: 1.5em;
}

/*Classes to be applied to .landmine if distance to mine = 1, or =< 5*/
.distance1 {
  background-color: #fa001b;
}
.distance5 {
  background-color: #f4b70d;
}

/*Styles for text revealed within .landmine boxes for win/loss scenario.*/
.landminelabel {
  display: none;
}

/*Class to be enabled in case of loss.*/
.loss {
  color: #f4b70d;
  background-color: #000;
  font-size: 12em;
  font-weight: 400;
  font-family: Verdana;
}

/*Class to be enabled in case of win*/
.wintext {
  color: #fff;
  background-color: #27ae60;
  font-size: 4em;
  font-family: Helvetica;
}

/*Container for submit-button, reset-button, and user-input box*/
#user-interface {
  width:100%; 
  margin:0 auto; 
  padding: 0; 
  margin-top: 0;
  margin-bottom: 0;
}

#submit-button {
  font-size: 1em;
  height: 2em;
  float: left;
  width: 14.66em;
  margin: 1em 1.5em 1em .75em;
  border: none;
}

#reset-button {
  font-size: 1em;
  height: 2em;
  float: left;
  width: 14.66em;
  margin: 1em .75em .1em 1.5em;
  border: none;
}

#user-input {
  font-size: 1em;
  color: #aaa;
  text-align: center;
  height: 2em;
  float: left;
  width: 14.66em;
  margin: 1em .75em 1em .75em;
  padding: 0 0 0 0;
  border: none;
}


/*.landmine.left {
  -webkit-animation: pulse 2s 12s;
}
.landmine.middle {
  -webkit-animation: pulse 2s 12.2s;
}
.landmine.right {
  -webkit-animation: pulse 2s 12.4s;
}*/


/*Keyframe animation for new game instance.*/
@-webkit-keyframes pulse {
  0%, 100% {
    background-color: #dddddd;
  
  }
  30% {
    background-color: #fa001b;
  }
}

/*Sets color values for text fade and appear effects.*/
@keyframes appear {
  0% {color: #ddd}
  100% {color: black}
}
@keyframes fade {
  0% {color: black}
  100% {color: #ddd}
}